
@model Pizza_delivery.ViewModels.ShoppingCartViewModel

<h2>Your shopping cart</h2>
<h4>Here are the delicious pizzas in your shopping cart.</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Pizza</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Pizza.Name</td>
                <td class="text-right">@line.Pizza.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Pizza.Price).ToString("c"))
                </td>
                <td>
                <a class="btn btn-primary" asp-controller="ShoppingCart"
               asp-action="RemovingShoppingCart"
               asp-route-pizzaId="@line.Pizza.PizzaId">remove from cart</a>
               <a asp-controller="Pizza" asp-action="Detail" asp-route-id="@line.Pizza.PizzaId">details</a>
                    </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">
        Check out now!
    </a>
</div>

